body {
	font-family: 'Roboto Slab', sans-serif;
	margin: 20px;
}

.links a {
	text-decoration: none;
	color: #4B77BE;
}

.links a:visited {
	color: darkgray;
}

.links p {
	margin-bottom: 5px;
	font-size: 16px;
}

.links p.subtitle {
	font-size: 12px;
	margin-top: -5px;
}

.links p.subtitle a {
	color: black;
}

.links p.subtitle a:hover {
	color: #4ECDC4;
}

.story ul li, .story ul li p {
	font-size: 12px;
}